/* @font-face {
	font-family: 'JadenMessy';
	src: url('//2ttf.com/webfont/IOGm6JrJE8c/webfont.ttf') format('truetype');
}


body{
	font-family: 'JadenMessy' !important;
} */


body{
    font-family: 'Walter Turncoat', cursive !important;
}

.fullBackground{
    height: 100vh;
    white-space: pre-wrap;
    background-color: #0A2463;
    background-position: right bottom;
    /* no-repeat center center fixed  */
    background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 10px #30BCED;
}

html{
    overflow-x: hidden;
}

.introText{
    font-size: 5em;
    color: #0A2463;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-0%, -50%);
}

.navbar{
    position: absolute !important;
    display: block !important;
  font-size: 1.5em;
  bottom: 20px;
  width: 100%;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  overflow:auto;
  clear:both;
  color: white;
}


.workInformation a{
    color: #ECA72C;
    text-decoration: none !important;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.workInformation a:hover{
    color: #30BCED;
}




.navbar a{
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}

.navbar a:hover{
    color: #ffffff;
}

.navbar li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 0.5em;
    padding: 0;
  }
  .navbar a {
    position: relative;
  }
  .navbar a:before,
  .navbar a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .navbar a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #ffffff;
  }
  .navbar a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .navbar a:hover:before,
  .navbar .current a:before {
    opacity: 1;
    width: 100%;
  }
  .navbar a:hover:after,
  .navbar .current a:after {
    max-width: 100%;
  }




* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.splitSection{
    display: flex;
    flex-direction: row;
}

.splitSection>div{
    width: 50%;
}

.splitSection div.text{
    box-sizing: border-box;
    padding: 60px;
    font-size: 1.5em;
}

.splitSection .fullImage{
    height: 100vh;
    background-color: #0A2463;
    border: solid 10px #30BCED;
    background-size: cover;
    background-size:100% 100%;
    overflow: hidden;

    position: sticky;
    position: -webkit-sticky;
    top: 0;

}

.splitSection:nth-child(odd){
    flex-direction: row-reverse;
}

@media screen and (max-width: 1000px){

    .introText{
        font-size: 2em;
        left: 10%;
        top: 15%;
        transform: none;
    }
    
    .splitSection{
        
        display: block;
    }

    .splitSection>div{
        width: 100%;
    }
    .splitSection div.text{
        padding: 30px;
    }

    .splitSection .fullImage{
        position: static;
        height: 100vw;
    }

    .fullBackground{
        background-attachment: scroll;
    }

    
}


.footer{
    height: 200px;
    background-color: rgb(10,36,99);
}

.workInformation{
    padding: 60px;
    padding-bottom: 0px;
}

.readable{
    font-family: 'Josefin Sans', sans-serif !important;
}