.bulletList {
    font-size: 0.85em;
    list-style: none;
    opacity: 0.9;
    line-height: 1.4em;
    margin-left: 50px;
}

.bulletList li {
    list-style-position: outside;
    margin-bottom: 20px;
}

.bulletList li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(0, 162, 188);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: block;
    position: absolute;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1.1em;
    /* Also needed for space (tweak if needed) */
}

.marginBottom{
    margin-bottom: 20px;
}

.marginBottomLarge{
    margin-bottom: 70px;
}

.clickToGo{
    width: 100%;

    
}

.clickToGo img{
    height: 100%;
    min-width: 100%;
}

.centerDiv a{
    font-size: 0.7em;
}

.centerDiv{
    text-align: center;
    margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hiddenInfo{
    display: none;
}

.halfScreen{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.clickToGo{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#bruceImage{
    background-size: 60%;
    height: 90%;
}

#prottasImage{
    background-size: 90%;
    background-color: rgb(139,3,2);
}

#slicerImage{
    background-size: 70%;
}

#alexLogo{
    background-size: 80%;
}

.hoverGrow{
    transition: all 5s;
}

.hoverGrow:hover {
    transform: scale(1.1);
}