.bulletList {
    font-size: 0.85em;
    /* list-style: none; */
    opacity: 0.9;
    line-height: 1.4em;
    margin-left: 50px;
}

.bulletList li {
    list-style-position: outside;
    margin-bottom: 20px;
}

.bulletListNO li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(0, 162, 188);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1.1em;
    /* Also needed for space (tweak if needed) */
}

.marginBottom{
    margin-bottom: 20px;
}

.marginBottomLarge{
    margin-bottom: 70px;
}

.clickToGo{
    width: 100%;

    
}

.clickToGo img{
    height: 100%;
    min-width: 100%;
}

.centerDiv a{
    font-size: 0.7em;
}

.centerDiv{
    text-align: center;
    margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerDiv:hover{
    display: block !important;
}

.hiddenInfo{
    display: none;
}

.halfScreen{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.clickToGo{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#octavateLogo{
    background-size: 60%;
    filter: drop-shadow(-2px 2px 16px rgba(254, 230, 254, 0.45));
}

#bruceImage{
    background-size: 60%;
    height: 90%;
}

#prottasImage{
    background-size: 90%;
    background-color: rgb(139,3,2);
}

#slicerImage{
    background-size: 70%;
}

#alexLogo{
    background-size: 80%;
}

.hoverGrow{
    transition: all 5s;
}

.hoverGrow:hover {
    transform: scale(1.1);
}

.workContent{
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.chevron{
    transform: rotate(-90deg);
    transition: transform 0.6s ease;
    opacity: 0.7;
    
}

.chevronDefault{
    position: absolute;
    bottom:10px;
    right:25%;
    left:50%;
    width: 30px;
    margin-left:-15px;
}

.rotate{
    transform: rotate(90deg) !important;
}

.fullWidth{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fullWidth2{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pageSeparator{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: turquoise;
    margin-left: -60px;
    margin-right: -60px;
}

.subTitle{
    padding-top: 1em;
    text-align: center;
}

.halfWidth{
    display: inline-block;
    width: 47% !important;
}

.videoContainer{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoContainer iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centerImage{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centerImage img{
    height: 350px;
}

.brain{
    opacity: 0.5;
    transition: opacity 0.6s ease;
    cursor: pointer;
}

.brain:hover{
    opacity: 1;
}

div .activeBrain{
    opacity: 1;
    cursor: default;
}

.leftCol{
  width: 100%;
}

.rightCol{
  width: 100%;
}

.socials{
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.hoverNone{
    pointer-events: none;
}

.logoCenter{
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

#aboutTitle path{
    stroke-dasharray: 1100px;
    stroke-dashoffset: 1100px;
    animation: lineAnim 2s ease forwards
}

@keyframes lineAnim{
    to{
        stroke-dashoffset: 0px;
    }
}