.carousel{
    height: 100vh;
}

.carousel-inner{
    height: 100vh;
}

.carousel-caption{
    position: absolute !important;
    display: block !important;
    font-size: 2em;
    
    /* bottom: 100px !important;
    left: 50% !important;
    transform: translate(-50%, -50%); */
}

.carousel-item > img{
    height: 100% !important;
    min-width: 101%;
}

.carousel-item .row{
    height: 60vh;
}

.row img{
    width: 70%;
}

.carousel-item{
    height: 100%;
}

.carousel-indicators{
    display: none !important;
}

#octavateLogo{
    background-size: 60%;
    filter: drop-shadow(-2px 2px 16px rgba(254, 230, 254, 0.45));
}

.hoverNone{
    pointer-events: none;
}